.btn{
  margin-left:5px;
  font-weight: bold;
}

.jumbotron {
  height: 500px;
  background-image: url("../assets/img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: 1;
}

.caption {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}