.btn{
  margin-left:5px;
  font-weight: bold;
}

.jumbotron {
  height: 500px;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: 1;
  box-shadow: 5px 10px 20px lightslategray;
}

.caption {
  margin-top: 15%;
  color: black;
  font-weight: bold;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.display-4{
  font-size: 75px;
}


.card{
  box-shadow: 3px 3px 30px lightslategray;
  line-height: 0.2;
}

.card div{
  font-size: 25px;
  padding-bottom: 0%;
}

.card a{
  font-size: 30px;
  background: rgb(63, 63, 63);
  color: white;
}

.card button{
  height: 50px;
  width: 100px;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  background: green;
}

footer {
  margin-top: 5%;
  line-height: 20%;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 30%;
}